<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SECURE THE BAG</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="{{ brand.theme }}">
        <div class="glass-container">
            <header>
                <h1>secure the bag</h1>
                <a href="/" style="color: #111; font-weight: bold;">Back to Base</a>
            </header>
<!--Input form cuz we need it dude-->
             <div class="glass-card" style="text-align: left;">
                <h2>Who are we Paying?</h2>
                <form action="/payroll" method="POST" style="display: flex; gap: 10px;">
                    <input type="text" name="emp_name" placeholder="Employee Name" required style="flex: 2;">
                    <input type="number" step="0.5" name="hours" placeholder="Hours" required style="flex: 1;">
                    <input type="number" step="0.01" name="rate" placeholder="Rate ($)" required style="flex: 1;">
                    <button type="submit">drop cash$$$$</button>
                </form>
         </div>
        <table>
                <tr>
                    <th>receipt #</th>
                    <th>employee</th>
                    <th>net take-home</th>
                </tr>
                {% for stub in history %}
                <tr>
                    <td>#{{ stub.id }}</td>
                    <td style="font-weight: bold;">{{ stub.name }}</td>
                    <td>${{ stub.net_pay }}</td>
                </tr>
                {% endfor %}
            </table>
        
        </div>
    </body>
</html>