{% extends 'base.html' %}
{% block content%}

    <div class="panel">
        <header>
            <h1>VIP Rolodex</h1>
            <a href="/" style="color: #111; font-weight: bold;">← Back to Base</a>
        </header>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Lifetime spend</th>
            </tr>
            {% for vip in customers %}
            <tr>
                <td style="font-weight: bold;">#{{ vip.id }}</td>
                <td>{{ vip.name }}</td>
                <td>{{ vip.email }}</td>
                <td style="color: #008F11; font-weight: 900;">${{ vip.lifetime_spend }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}  