{% extends 'base.html' %}
{% block content %}
<div class="panel">
    <header>
    <h1>Business Health</h1>
    <a href="/" style="color: #111; font-weight: bold;">←B2B</a>
    </header>
    <div style="display: flex; gap: 40px; margin-top: 30px; align-items: center;">

        <svg viewBox="0 0 42 42" style="width: 300px; height: 300px;
  border-radius: 50%; background: white; border: 6px solid #111; box-shadow:
  12px 12px 0px #111;">

               <!--interactive pizza slices-->
    <circle cx="21" cy="21" r="15.9155" fill="transparent" stroke="#00FF41" stroke-width="8"
            stroke-dasharray="{{vault_pct}} 100" stroke-dashoffset="0" transform="rotate(-90 21 21)"
            style="transition: all 0.2s ease; cursor: pointer;"
            onmouseover="this.setAttribute('stroke-width', '12')"
            onmouseout="this.setAttribute('stroke-width', '8')"></circle>

    <circle cx="21" cy="21" r="15.9155" fill="transparent" stroke="#F7D002" stroke-width="8"
            stroke-dasharray="{{rev_pct}} 100" stroke-dashoffset="-{{vault_pct}}" transform="rotate(-90 21 21)"
            style="transition: all 0.2s ease; cursor: pointer;"
            onmouseover="this.setAttribute('stroke-width', '12')"
            onmouseout="this.setAttribute('stroke-width', '8')"></circle>

    <circle cx="21" cy="21" r="15.9155" fill="transparent" stroke="#FF2A2A" stroke-width="8"
            stroke-dasharray="{{pay_pct}} 100" stroke-dashoffset="-{{vault_pct + rev_pct}}" transform="rotate(-90 21 21)"
            style="transition: all 0.2s ease; cursor: pointer;"
            onmouseover="this.setAttribute('stroke-width', '12')"
            onmouseout="this.setAttribute('stroke-width', '8')"></circle>

    </svg>

        <div style="flex: 1; font-size: 1.5rem; line-height: 2;">
            <p><span style="color: rgb(103, 208, 103); font-weight: 900;">Vault value:</span> {{vault_pct}}% (${{vault_raw}})</p>
            <p><span style="color:  rgb(254, 228, 77); font-weight: 900;">Revenue:</span> {{rev_pct}}% (${{rev_raw}})</p>
            <p><span style="color: rgb(221, 76, 76); font-weight: 900;">Payroll:</span> {{pay_pct}}% (${{pay_raw}})</p>
        </div>
    </div>
</div>
{% endblock %}